#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# This group is read by the server
#
[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
character-set-server = latin2
collation-server = latin2_general_ci
skip-character-set-client-handshake

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

